@page "/"
@inject IApiClient ApiClient

<PageTitle>Home</PageTitle>

<h1>Doctors</h1>

@if (doctors == null)
{
    <p><em>Loading...</em></p>
}
else if (doctors.Count == 0)
{
    <p><em>No doctors found.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Specialization</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in doctors)
            {
                <tr>
                    <td>@doctor.Name</td>
                    <td>@doctor.Specialization</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Doctor>? doctors;

    protected override async Task OnInitializedAsync()
    {
        var result = await ApiClient.List();

        if (!result.HasErrors)
        {
            doctors = result.Value!;
        }
        else
        {
            doctors = new List<Doctor>(); // Või kuva viga
        }
    }

   
}
